workflows/hr-ai-os-purchase-n8n-workflow.json
{
  "name": "HR AI OS Purchase Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hr-ai-os-purchase",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "purchase-webhook",
      "name": "Purchase Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -900,
        0
      ],
      "webhookId": "hr-ai-os-purchase"
    },
    {
      "parameters": {
        "jsCode": "const required = ['order_id', 'email', 'product_name', 'amount', 'currency'];\nconst body = $json.body && typeof $json.body === 'object' ? $json.body : $json;\nconst missing = required.filter((field) => body[field] === undefined || body[field] === null || body[field] === '');\n\nreturn [{\n  json: {\n    ...body,\n    is_valid: missing.length === 0,\n    missing_fields: missing,\n    validation_error: missing.length ? `Missing required field(s): ${missing.join(', ')}` : null\n  }\n}];"
      },
      "id": "validate-required-fields",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -660,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "required-fields-present",
              "leftValue": "={{$json.is_valid}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-valid",
      "name": "Required Fields Present?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -420,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={{({ status: 'error', message: 'Missing required purchase field(s)', missing_fields: $json.missing_fields, error: $json.validation_error })}}",
        "options": {}
      },
      "id": "validation-error-response",
      "name": "Validation Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -180,
        180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "etsy-order-id",
              "name": "etsy_order_id",
              "value": "={{$json.order_id}}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{$json.email}}",
              "type": "string"
            },
            {
              "id": "product-name",
              "name": "product_name",
              "value": "={{$json.product_name}}",
              "type": "string"
            },
            {
              "id": "amount",
              "name": "amount",
              "value": "={{Number($json.amount)}}",
              "type": "number"
            },
            {
              "id": "currency",
              "name": "currency",
              "value": "={{$json.currency}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-map-fields",
      "name": "Set/Map Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -180,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.HR_AI_OS_PURCHASE_WEBHOOK_URL || 'PASTE_LOVABLE_PURCHASE_WEBHOOK_ENDPOINT_HERE'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "={{$env.HR_AI_OS_PURCHASE_WEBHOOK_SECRET || 'PASTE_WEBHOOK_SECRET_HERE'}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify({ etsy_order_id: $json.etsy_order_id, email: $json.email, product_name: $json.product_name, amount: $json.amount, currency: $json.currency })}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "send-purchase-to-hr-ai-os",
      "name": "Send Purchase to HR AI OS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        -80
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\nconst statusCode = response.statusCode || response.status || 0;\nconst body = response.body ?? response.data ?? response;\nconst bodyStatus = typeof body === 'object' && body !== null ? String(body.status || body.result || '').toLowerCase() : '';\nconst success = (statusCode >= 200 && statusCode < 300) || bodyStatus === 'success' || bodyStatus === 'already_processed';\n\nreturn [{\n  json: {\n    is_success: success,\n    result: success ? 'success' : 'error',\n    lovable_response: body,\n    error: success ? null : {\n      statusCode,\n      response: body,\n      message: response.error?.message || response.message || 'Lovable webhook returned an error'\n    }\n  }\n}];"
      },
      "id": "normalize-lovable-result",
      "name": "Normalize Lovable Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "lovable-success",
              "leftValue": "={{$json.is_success}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "lovable-success",
      "name": "Lovable Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        540,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": "={{({ status: 'success', message: 'Purchase processed or already processed', lovable_response: $json.lovable_response })}}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        780,
        -180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 502,
        "responseBody": "={{({ status: 'error', message: 'Purchase could not be processed', error: $json.error })}}",
        "options": {}
      },
      "id": "failure-response",
      "name": "Failure Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        780,
        40
      ]
    },
    {
      "parameters": {
        "content": "Optional Google Sheets logging template. Enable and connect this node after adding Google Sheets credentials plus the target document/sheet. Log columns: timestamp, order_id, email, product_name, amount, currency, result, Lovable response/error.",
        "height": 180,
        "width": 340
      },
      "id": "logging-note",
      "name": "Optional Logging Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        260,
        220
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "PASTE_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Purchase Log",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{new Date().toISOString()}}",
            "order_id": "={{$('Set/Map Fields').item.json.etsy_order_id}}",
            "email": "={{$('Set/Map Fields').item.json.email}}",
            "product_name": "={{$('Set/Map Fields').item.json.product_name}}",
            "amount": "={{$('Set/Map Fields').item.json.amount}}",
            "currency": "={{$('Set/Map Fields').item.json.currency}}",
            "result": "={{$json.result}}",
            "lovable_response_or_error": "={{JSON.stringify($json.lovable_response || $json.error)}}"
          }
        },
        "options": {}
      },
      "id": "google-sheets-log",
      "name": "Optional Google Sheets Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        620,
        280
      ],
      "disabled": true
    }
  ],
  "connections": {
    "Purchase Webhook": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Required Fields Present?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Required Fields Present?": {
      "main": [
        [
          {
            "node": "Set/Map Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set/Map Fields": {
      "main": [
        [
          {
            "node": "Send Purchase to HR AI OS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Purchase to HR AI OS": {
      "main": [
        [
          {
            "node": "Normalize Lovable Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Lovable Result": {
      "main": [
        [
          {
            "node": "Lovable Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lovable Success?": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-05T00:00:00.000Z",
  "versionId": "hr-ai-os-purchase-workflow"
}
